<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>%d{yy-MM-dd HH:mm:ss.SSS} %-5level %X{internal-request-id} %logger{36} %msg%n</Pattern>
		</layout>
	</appender>

	<logger name="org.springframework.beans" level="INFO" />
	<logger name="org.hibernate" level="INFO" />
	<logger name="cz.cvut" level="DEBUG" />

	<root>
		<level value="DEBUG" />
		<appender-ref ref="STDOUT" />
	</root>
</configuration>