<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>/var/log/tomcat-7-admission/admission.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- daily rollover -->
			<fileNamePattern>/var/log/tomcat-7-admission/admission.%d{yyyy-MM-dd}.log</fileNamePattern>
			<!-- keep 7 days of history -->
			<maxHistory>7</maxHistory>
		</rollingPolicy>
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>%d{yy-MM-dd HH:mm:ss.SSS} %-5level %X{internal-request-id} %logger{36} %msg%n</Pattern>
		</layout>
	</appender>

	<logger name="org.springframework" level="WARN" />
	<logger name="org.hibernate" level="WARN" />
	<logger name="cz.cvut" level="INFO" />
	<logger name="org.apache.cxf" level="WARN" />

	<root>
		<level value="INFO" />
		<appender-ref ref="FILE" />
	</root>
</configuration>